<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>Open Class Room - Todo API</title>
	<link rel="icon" href="favicon.ico">

	{{--  META  --}}
	<meta name="application-name" content="OpenClassrooms">
	<meta name="msapplication-TileColor" content="#e95325">
	<meta name="theme-color" content="#E95325">
	<meta name="description" content="Formez-vous à un métier. Emploi garanti.">

	{{--  STYLE  --}}
	{{ style('style') }}
</head>
<body>
	@!section('content')
	<footer>
		<a href="https://openclassrooms.com/fr/" alt="Open Class Room" target="_blank">Open Class Room</a> | <a href="#">Documentation</a>
	</footer>
</body>
</html>
